.confScreen{
    /* height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5); 
    backdrop-filter: blur(3px);*/
    background: rgba(255, 69, 0,0.8);
    width: 100%;
    z-index: 3;
    margin:10px 0;
    border-radius: 3px;
    padding:5px;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.confScreen p, .confScreen h3, .confScreen h4{
    text-align: center;
    color:#ffffff;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.confScreen h3, .confScreen h4{
    font-weight: 600;
}
#cerrar{
    z-index: 4;
    fill: #ffffff;
}
#cerrar:hover{
    z-index: 4;
    fill: rgba(255, 69, 0,1)
}