.itemcard__cont{
    width:80%;
    margin:50px auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 50px;
}
.itemCard{
    max-width: 250px;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    background: linear-gradient(180deg,rgb(200, 230, 250), #ffffff);
    display: flex;
    flex-direction: column;
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    overflow: hidden;
    position: relative;
}
.itemCard:hover{
    transform: translateY(-5px);
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    border:1px solid #61dafb;
    box-shadow: 0 0 15px rgba(97, 218, 251,0.5);
}


.itemCard__detail--status{
    position: absolute;
    z-index: 1;
    color:#ffffff;
    background:rgb(209, 9, 9);
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 3px;
    padding:3px 10px;
    font-size: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
.itemCard__img{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;    
}
.itemCard__detail{
    padding: 15px 20px 20px;
    
}
.itemCard__detail--prod{
    color:#353535;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding:0
}
.itemCard__detail--descr{
    color:#666;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    margin: 0 0 10px 0;
    padding:0;
    
}
.itemCard__detail--ocup{
    color:#333333;
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.itemCard__detail--price{
    color:#316dfb;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}