.itemcard__cont{
    width:80%;
    margin:50px auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 3%;
    row-gap: 4%;
}
.itemCard{
    max-width: 250px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    background: linear-gradient(180deg,rgb(200, 230, 250), #ffffff);
    display: grid;
    padding-bottom: 15px;
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
}
.itemCard:hover{
    transform: translateY(-5px);
    transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
}
.itemCard__img{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemCard__img > img{
    position: absolute;
    height: 90%;
    width: auto;    
}
.itemCard__detail{
    padding: 10px 10px 20px;
    height: 100%;
}
.itemCard__detail--tit{
    color:#353535;
    font-size: 20px;
    margin-bottom: 15px;
}
.itemCard__detail--descr{
    color:#333333;
    font-size: 14px;
    margin: 0;
}
.itemCard__detail--price{
    color:green;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}