.item__cont{
    width: 80%;
    margin:50px auto;
    height: 100px;
    display: grid;
    grid-template-columns: 30% 56%;
    column-gap: 4%;
}
.item__cont .itemCard__detail--price{
    margin:40px 0 25px
}

.item__detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item__detail > .itemCounter{
    align-self: flex-start;
}
.item__img{
    background: linear-gradient(180deg,rgb(200, 230, 250), #ffffff);
    height: 300px;
    width: 100%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.item__img > img{
    position: absolute;
    width: 80%;
}