.item__cont{
    width: 80%;
    margin:50px auto;
    height: auto;
    display: grid;
    grid-template-columns: 30% 56%;
    column-gap: 4%;
}
.item__cont .itemCard__detail--price{
    margin:40px 0 25px
}
.item__cont .itemCard__detail--price > span{
    font-weight: 400;
}
.itemCard__detail--cat-open{
    font-weight: 400;
    color:#666;
    font-size: 20px;
    margin: 0;
    padding:0;
}
.itemCard__detail--prod-open{
    color:#353535;
    font-weight: 600;
    font-size: 26px;
    margin: 0px 0px 15px;
    margin: 0 0 10px 0;
    padding:0;
}
.itemCard__detail--extra{
    text-align: left;
    font-size: 14px;
}

.item__detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item__detail > .itemCounter{
    align-self: flex-start;
}
.item__img{
    background: linear-gradient(180deg,rgb(200, 230, 250), #ffffff);
    height: auto;
    width: 100%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
   
}
.item__img > img{
    position: absolute;
    width: 100%;
}
/* ------ */
.statusCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusCont > div{
    width: 80%;
    margin:50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 25px;
    row-gap:25px;
    
}
.MuiBox-root.css-k008qs{
    display: flex;
}