.contenedor{
    width: 80%;
    margin: 50px auto;
}
/* ----- */
.item__cont{
    width: 80%;
    margin:50px auto;
    height: auto;
    display: grid;
    grid-template-columns: 30% 56%;
    column-gap: 4%;
}
.itemCard__detail--stock{
    font-size: 10px;
    color:#666666;
    text-transform: uppercase;
    margin-top: 10px;
}
.item__cont .itemCard__detail--price{
    margin:25px 0px 10px
}
.item__cont .itemCard__detail--price > span{
    font-weight: 400;
}
.itemCard__detail--cat-open{
    font-weight: 400;
    color:#666;
    font-size: 18px;
    margin: 0px 0 -10px;
    padding:0;
}
.itemCard__detail--prod-open{
    color:#353535;
    font-weight: 600;
    font-size: 26px;
    margin: 0px 0px 15px;
    margin: 0 0 10px 0;
    padding:0;
}
.itemCard__detail--extra{
    text-align: left;
    font-size: 14px;
}
.item__detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item__detail > .itemCounter{
    align-self: flex-start;
}
.item__img{
    background: linear-gradient(180deg,rgb(200, 230, 250), #ffffff);
    height: auto;
    width: 100%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
   
}
.item__img > img{
    position: absolute;
    width: 100%;
}
/* ------ */
.statusCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusCont > div{
    width: 80%;
    margin:50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 25px;
    row-gap:25px;
    
}
.MuiBox-root.css-k008qs{
    display: flex;
}
.mar__bot{
    margin-bottom: 100px;
}
/* ----- */
.cartProduct{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 10% 88%;
    column-gap: 2%;
    width: 90%;
    margin:0 auto 10px;
    border-radius: 5px;
    padding: 15px; 
    background: rgba(255, 255, 251,0.5);
    position: relative;
}
.cartProduct__img{
    display: flex;
    height: 100px;
    border-radius: 3px;
}
.cartProduct__table{
    width: 80%;
    display: block;
}
.cartProduct__table tr{
    /* width: 100%; */
    display: grid;
    grid-template-columns: auto 100px 100px;
}
.cartProduct__table tr td{
    padding: 0 15px 0 0;
}
.cartProduct h2{
    margin-bottom: 0;
}
.cartProduct__table h4{
    text-align: left;
}
.cartProduct__table tr td{
    padding: 0 15px 0 0;
}
/* ----- */
.cartProduct tr:first-child{
    height: 60px;
}
.cartProduct tr:last-child{
    height: 20px;
    padding-top: 0px;
}
.cartProduct tr:last-child > td{
    display: flex;
    align-items: center;
    font-weight: 600;
    border-top: 1px solid silver;
}
.cartProduct tr:last-child .itemCard__detail--price{}
/* ----- */
.cartProduct__close{
    height: 24px;
    width: 24px;
    border-radius: 15px;
    position: absolute;
    top:3px;
    right:3px;
    cursor: pointer;
    fill: rgba(255, 69, 0,0.25)
}
.cartProduct__close:hover{
    fill:rgba(255, 69, 0,1)
}
.btn__clear, .btn__confirm{
    border:0;
    outline: none;
    color:#ffffff;
    padding:10px;
    border-radius: 5px;    
    cursor: pointer;
    transition: 0.15s ease-in-out;
    float: right;
    height: 35px;
    display: flex;
    align-items: center;
}
.btn__clear{
    background:#ff4500;
    opacity: 0.5;
}
.btn__confirm{
    background:#08b808;
    margin-left: 10px;
    opacity: 0.85;
}
.btn__clear:hover, .btn__confirm:hover{
    opacity: 1;
    transition: 0.15s ease-in-out;
}
.btn__confirm .link__confirm{
    color:#ffffff;
    text-decoration: none;
    display: inline-flex;
}
/* ----- */
.cart__total{
    text-align: right;
    margin: 20px 15px 20px 0;
    color:#353535;
}
/* ----- */
.error__flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error__img{
    height: 300px;
}