.nav{
    width: 100%;
    height: 100px;
    /* background: linear-gradient(#454545, #111111); */
    background: linear-gradient(105deg,#454545,60%, #4cabfb);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    top:0;
    padding:0;
    position: relative;    
}
.container{
    width: 90%;
    height: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__mid{
    display: flex;
    flex-direction: column;
}
h1{
    margin: 0;
    height: 100%;
    max-height: 40px;
    display: inline-flex;
}
h1 .logo{
    margin: 0;
    height: 100%;   
}
ul{
    display: flex;
    list-style: none;
    list-style: none;  
    margin-top: 10px;     
}
ul li{
    position: relative;
}
ul li ul{
    display: none;  
    top:8px;
    transition: 0.15s;
    position: relative;
}
ul li:hover > ul{
    position:absolute;
    display: flex; 
    flex-direction: column;    
    background-color: rgba(69, 69, 69,0.75);
    padding:5px 10px 10px;
    transition: 0.15s;
    border-radius: 0 15px 3px 10px;
    z-index: 2;
    transform: skew(3deg);
     
}
ul li ul li{
    text-decoration: none;
    width:90px
}
.Navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linkNav{
    color:#ffffff;
    text-decoration: none;
    font-size: 12px;
}
.linkNav:hover{
    color:#61dafb;
    text-shadow: 0 0 10px #ffffff;    
}
.container__mid ul :not(:last-child){
    margin-right: 15px;
}
.searcher-group{
    display: inline-flex;
    align-items: center;
}
.searcher-group i{
    position: absolute;
    z-index: 1;
    margin-left: 5px;
    color:grey;
}
.searcher{
    position: relative;
    height: 35px;
    width: 250px;
    padding: 5px 10px 5px 25px;
    outline:none;
    border-radius: 3px;
    border:1px solid transparent;
}
.searcher:focus{
    border:1px solid #61dafb;
    box-shadow: 0 0 15px rgba(97, 218, 251,0.5);
}
.acces li{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}