.foot{
    height: 150px;
    width: 100%;
    background:#2e3138;
}
.foot .container{
    width: 90%;
    margin: auto;
}
.brandFoot{
    height: 30px;
}
.foot__tree{
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.foot__tree li .foot_link{
    color:#ffffff;
    text-decoration: none;
}
.foot__tree li:not(:last-child){
    margin-right: 10px;
}
.foot__tree li .foot_link:hover{
    color:#61dafb;
    text-shadow: 0 0 10px #ffffff;
}
/* --- */
.footCopy{
    padding:5px;
    background-color: #000000;
    text-align: center;    
}
.footCopy p, .footCopy a{
    color:#ffffff;
    font-size: 10px;
}
.footCopy a{
    color:#61dafb;
}