.itemList{
    display: flex;
    justify-content: flex-end;
    padding-left:50px;
    
}
.itemList p{
    color:#ffffff;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    width: auto;
    margin: 0;
    text-decoration: none;    
}
.itemList p:hover{
    color:#61dafb;
    text-shadow: 0 0 10px #ffffff;
}
.userCart, .userProf{
    text-decoration: none;
}
.icon-user{
    font-size: 14px;
    margin-right: 5px;    
}
.userCart:hover, .userProf:hover{
    color:#61dafb;
    text-shadow: 0 0 10px #ffffff;    
}

.itemList p > span{
    background:rgb(241, 6, 6);
    font-size: 14px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
/* ----- CartWidget ----- */
p.basketCart{
    display: inline-flex;
    flex-direction: row;
    margin-left:25px;    
}
p.basketCart i{
    margin-right: 5px;
    font-size: 16px;
    
}