*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: #cccccc;
}
p{
  color:#050519;
  width: 90%;
  margin: 0 auto;
}

/*Generales*/
p, h1,h2,h3,h4,h5,h6, a, ul, ol, span{
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  margin:0px;
  padding:0px;
} 
/*Spinner*/
.MuiBox-root{
  justify-content: center;
  margin: 100px auto;
}
.Linked{
  text-decoration: none;
}
.altura{  
  min-height: calc(100vh - 276px);
}